IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
SortIncludes: true
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
Cpp11BracedListStyle: true
SpaceBeforeParens: ControlStatements
Standard: c++20